vk:
  appId: 0
  secretKey: key
  serviceKeyAccess: keyAccess

telegram:
  token: <token>
  cityChatId:
    BELGOROD: "<@bgdChatId>"


spring:
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: validate

liquibase:
  changeLog: classpath:liquibase/changelog-master.xml

job:
  loadNews:
    schedule: '0 * * * * *'
    count: 3
  publishNews:
    schedule: '0 * * * * *'
  sendingNewsOnModeration:
    schedule: '30 0/1 * * * *'
    count: 3
  telegramGettingUpdate:
    interval: '0/1 * * * * *'


news:
  publics:
    BELGOROD:
      -
        id: 36378934
        url: https://vk.com/belgorod
      -
        id: 35961352
        url: https://vk.com/belinter
      -
        id: 82854310
        url: https://vk.com/newsbelgorod

  chatAdmins:
    BELGOROD:
      -
        id: 186736203
        name: VADMURZAKOV
      -
        id: 228618478
        name: RNEMYKIN