vk:
  appId: 0
  secretKey: key
  serviceKeyAccess: keyAccess

telegram:
  token: <token>
  cityChatId:
    BELGOROD: "<@bgdChatId>"


spring:
  jpa:
    properties:
      generate-ddl: false
      hibernate:
        ddl-auto: validate

liquibase:
  changeLog: classpath:liquibase/changelog-master.xml

job:
  loadNews:
    schedule: '*/30 * * * * *'
  publishNews:
    schedule: '*/30 * * * * *'