vk:
  appId: 0
  secretKey: key
  serviceKeyAccess: keyAccess

telegram:
  token: <token>

spring:
  jpa:
    properties:
      hibernate:
        ddl-auto: validate

liquibase:
  changeLog: classpath:liquibase/changelog-master.xml